.bg-header {
  /* background-color: white; */
  position: relative;
  overflow: hidden;
  /* min-height: 620px; */
  text-align: center;
  height: 100vh;
}

h1 {
  font-weight: 800;
  color: white;
}

.bg-content {
  height: max-content;
  /* background: linear-gradient(
    to right,
    rgba(231, 228, 223, 0.4),
    rgba(206, 38, 8, 0.6)
  ); */
  background: rgba(231, 228, 223, 0.725);
  padding: 28px;
}

.background_cover {
  margin: 0;
  padding: 0;
  background-image: url("/src/commons/images/cty.jpg");
  background-size: cover; /* Đảm bảo hình ảnh sẽ che phủ toàn bộ background */
  background-position: center; /* Chính giữa hình ảnh */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh */
  height: 100vh; /* Đặt chiều cao bằng chiều cao của viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /* Màu chữ trắng hoặc màu khác tùy chọn */
  text-align: center;
}
