.bg-header {
  background-color: white;
  position: relative;
  overflow: hidden;
  min-height: 620px;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: xx-large;
  font-weight: 800;
  color: black;
}

.bg-content {
  height: 230px;
  background-color: rgba(37, 35, 35, 0.25);
  padding: 30px;
}

.background_cover {
  background-image: url(../../../../public/assets/công\ ty.jpg);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}
