.about-wrap {
  width: 100%;
}
.about {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.about-left {
  flex: 40%; /* Đặt tỉ lệ cho phần trái là 30% */
  background: wheat;
}
.about-right {
  flex: 60%; /* Đặt tỉ lệ cho phần trái là 30% */
}
