.about-wrap {
  height: max-content;
  width: 90%;
  margin: 200px auto 120px;
  background: rgba(231, 228, 223, 0.5);
  border-radius: 12px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}
.about-left {
  flex: 40%; /* Đặt tỉ lệ cho phần trái là 30% */
  /* background: wheat; */
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  flex: 60%;
  /* background: linear-gradient(45deg, #ff2b2b, rgb(197, 197, 197)); */
  color: #ffffff; /* Màu chữ trắng */ /* Đặt tỉ lệ cho phần trái là 30% */
  height: max-content;
  padding-left: 60px;
}

.about-right__link p {
  color: #000;
  cursor: pointer;
  margin: auto;
  font-size: 22px;
  font-weight: 300;
  transition: font-weight 250ms ease-in-out;
  font-style: italic;
  margin-bottom: 12px;
}

.about-right__link p:hover {
  font-weight: 800;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about-right__content {
  color: black;
  margin-top: 8px;
  font-weight: 500;
  transform: scale(1.02);
  display: flex;
  align-items: flex-start;
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 18px;
}

.about-right__content p {
  font-family: "Arial" !important;
  font-weight: 500;
  margin-left: 12px;
  font-size: 1em;
  line-height: 150%;
  /* text-align: center; */
  letter-spacing: 0.5px;
  text-indent: 32px !important;
}

.about-right__content img {
  margin-right: 10px;
  margin-left: 24px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  width: 64px;
}

.about-right__content p:first-of-type {
  text-indent: 18px;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  margin-top: 12px;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

@media only screen and (max-width: 1366px) {
  .about-left img {
    width: 400px !important;
    height: 560px !important;
  }

  .about-right__title {
    font-size: 24px !important;
  }
  .about-right__link p {
    font-size: 22px !important;
  }
  .about-right__content img {
    width: 48px !important;
    height: 48px !important;
  }
  .about-right__content p {
    font-size: 17px !important;
    font-weight: 500;
  }

  .comic-button {
    padding: 6px 16px;
  }
}

@media screen and (max-width: 600px) {
  .header-wrap {
    display: none;
  }
}
