/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

@media (min-width: 1536px) {
  .phone-ring {
    background-image: url(/src/commons/assets/phone-reng.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 40px;
    bottom: 60px;
    height: 92px;
    width: 92px;
    animation: wiggle 2s linear infinite;
    cursor: pointer;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .phone-ring {
    background-image: url(/src/commons/assets/phone-reng.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 36px;
    bottom: 54px;
    height: 64px;
    width: 64px;
    animation: wiggle 2s linear infinite;
    cursor: pointer;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .phone-ring {
    background-image: url(/src/commons/assets/phone-reng.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 32px;
    bottom: 50px;
    height: 48px;
    width: 48px;
    animation: wiggle 2s linear infinite;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
