@media (min-width: 1536px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    /* padding: 10px; */
    max-width: 360px;
    /* width: 420px;
    height: 400px; */
    margin: 18px 28px 32px;
  }

  .plan .inner {
    align-items: center;
    padding: 32px 12px;
    background: linear-gradient(#bafae2, #eac6ff);
    border-radius: 12px;
    /* justify-content: center; */
  }

  .flag {
    width: 36px;
    margin-top: -24px;
    margin-bottom: 4px;
  }

  .title {
    font-weight: 700;
    font-size: 22px;
    color: #184385;
  }

  .info {
    margin-top: 8px;
    height: max-content;
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    padding: 0 24px;
  }

  .features {
    display: flex;
    flex-direction: column;
    column-gap: 6px;
    padding-left: 12px;
  }

  .features li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
    margin-left: 32px;
  }

  .li-content {
    margin-top: 8px;
  }

  .icon {
    background-color: #3eca1f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }

  .plan .features span {
    font-size: 14px;
    color: #000000;
  }

  .strong-text {
    font-size: 18px;
    font-weight: 600;
    color: #425275;
  }

  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .plan .button {
    background-color: #272424;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 80%;
    padding: 6px 10px;
    margin: 32px auto 0;
    text-decoration: none;
  }

  .plan .button:hover,
  .plan .button:focus {
    background-color: #4133b7;
    cursor: pointer;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}
