.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: hsl(208, 16%, 49%);
  /* max-width: 600px;
  width: 420px;
  height: 400px; */
  margin: 0 32px 60px;
}

.plan strong {
  font-weight: 500;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 40px 24px 32px;
  background: linear-gradient(#bafae2, #eac6ff);
border-radius: 12px;
  /* justify-content: center; */
}

.plan .pricing {
}

.plan .pricing img {
  color: #707a91;
  width: 48px;
  margin-top: -24px !important;
  margin-bottom: 12px;
}

.plan .title {
  font-weight: 700;
  font-size: 24px;
  color: #184385;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 12px;
  height: max-content;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: -12px !important;
}

.plan .features .icon {
  background-color: #1fcac5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features span {
  font-size: 14px;
  color: #000000;
}

.plan .features strong {
  font-size: 18px;
  color: #184385;
  font-weight: 800;
}

.plan .features + * {
  margin-top: 12px;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #272424;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 80%;
  padding: 6px 10px;
  margin: 0 auto;
  text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: #4133b7;
}
