.header {
  color: #111111;
  background-color: #dddbd9;
}

.header-content {
  margin: 0 auto;
  padding: 12px 0;
}

.header-logo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}

.header-menu img {
  width: 28px;
  height: 28px;
}

.split-background {
  height: 120vh;
  margin-top: 60px;
}

.wiper-wrap {
  /* background: rgb(50, 39, 39); */
  position: absolute;
  height: 85vh;
  width: 35%;
  border-radius: 20px;
  top: 140px;
  left: 120px;
  z-index: 100;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* background: #000; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #332e29;
}

/*==================
    Base Styles
===================*/

input[type="radio"] {
  display: none;
}

.container-silde {
  background: rgb(255, 255, 255);
  position: absolute;
  height: 85vh;
  width: 35%;
  /* padding: 0 2em; */
  /* background: #111111; */
  /* border-radius: 20px; */
  top: 180px;
  left: 120px;
}

.slide-wrapper {
  position: relative;
  margin: 0 auto;
  /* padding: 3em; */
  /* width: 40%; */
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
  overflow: hidden;
}

/*==================
    Slides
===================*/

#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* flex */
  display: flex;
}

.slide {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* backgrounds */

.slide-1 {
  background-image: url("./assets/2024_01_10_14_33_IMG_3344.JPG");
}

.slide-2 {
  background-image: url("./assets/2024_01_10_14_38_IMG_3345.JPG");
}

.slide-3 {
  background-image: url("./assets/2024_01_10_14_39_IMG_3346.JPG");
}

.slide-4 {
  background-image: url("./assets/2024_01_10_14_42_IMG_3351.JPG");
}

/*===================
    BUTTONS
====================*/

.btn,
.btn::after {
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.281);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
  position: absolute;
  bottom: 8%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btn:nth-of-type(1) {
  left: 38%;
}

.btn:nth-of-type(2) {
  left: 45%;
}

.btn:nth-of-type(3) {
  left: 52%;
}

.btn:nth-of-type(4) {
  left: 59%;
}

.btn:hover {
  transform: scale(1.4);
}

/* buttons Atom! */

.btn::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  background: rgb(11, 185, 238);
  width: 16px;
  height: 16px;
  margin: 3px 3px;
  transform: scale(0.5, 0.5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

/*====================
        L O G I C 
 ===================*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger
  ~ div.slide-wrapper
  > div#slide-role {
  left: -100%;
}

input[type="radio"]:checked#slide-3-trigger
  ~ div.slide-wrapper
  > div#slide-role {
  left: -200%;
}

input[type="radio"]:checked#slide-4-trigger
  ~ div.slide-wrappe
  > div#slide-role {
  left: -300%;
}

/* button logic */

input[type="radio"]:checked + label.btn {
  transform: scale(1.2);
  border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked + label.btn::after {
  transform: scale(1.1, 1.1);
  background: lightskyblue;
}

/* //////////////////////////////////////////////////////////////////////// */

.banner-content {
  background-color: rgb(255, 255, 255);
  color: #111111;
  top: 80px;
  right: 120px;
  width: 115vh;
  height: 80vh;
  border-radius: 20px;
  /* border: 1px solid brown; */
  padding-left: 180px;
  padding-right: 30px;
}

.banner-content h1 {
  font-weight: 700;
  font-size: 54px;
  color: #332e29;
  margin-top: 60px;
}

.banner-content h5 {
  font-size: 26px;
  line-height: 1.5;
  margin: 24px 0 28px;
}

.btn-hover {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 3em;
  border: none;
  background: #3f3f3f;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  margin-top: 18px;
}

.btn-hover:active {
  transform: scale(0.95);
}

.btn-hover span {
  color: #fef3f3;
  font-size: 18px;
}

.btn-hover .border {
  position: absolute;
  border: 0.15em solid #3f3f3f;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}

.btn-hover:hover .border {
  display: block;
  width: 11.4em;
  height: 4.2em;
}

.full-rounded {
  border-radius: 6px;
}

.contact {
  padding: 30px 200px;
  color: #332e29;
}

.contact h1 {
  font-size: 54px;
  margin-top: 18px;
  text-transform: uppercase;
}

.contact h5 {
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
}

.contact h2 {
  font-size: 26px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact h6 {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin-top: -8px;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #8c2222;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #e77d7d, 0 0 11px #e77d7d, 0 0 19px #e77d7d,
      0 0 40px rgb(62, 184, 88), 0 0 80px rgb(62, 184, 88),
      0 0 90px rgb(62, 184, 88), 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.contact-icon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-icon img:hover {
  transform: scale(1.5);
}

.license {
  font-size: 16px;
  padding: 6px 0;
  color: #ffffff;
  background-color: #333333;
}

.icon-link {
  animation: wobble 1s ease infinite;
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-32px) rotate(-10deg);
    transform: translateX(-32px) rotate(-10deg);
  }

  30% {
    -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
    transform: translateX(calc(32px / 2)) rotate(10deg);
  }

  45% {
    -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
  }

  60% {
    -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
    transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
  }

  75% {
    -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
  }
}

/*=====================================================================================
                MEDIA QUERIES
=======================================================================================*/

@media only screen and (max-width: 750px) {
  .slide-wrapper {
    width: 90%;
    height: 100%;
  }
  .btn:nth-of-type(1) {
    left: 93%;
    bottom: 60%;
  }
  .btn:nth-of-type(2) {
    left: 93%;
    bottom: 50%;
  }
  .btn:nth-of-type(3) {
    left: 93%;
    bottom: 40%;
  }
  .btn:nth-of-type(4) {
    left: 93%;
    bottom: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .btn:nth-of-type(1) {
    left: 91%;
  }
  .btn:nth-of-type(2) {
    left: 91%;
  }
  .btn:nth-of-type(3) {
    left: 91%;
  }
  .btn:nth-of-type(4) {
    left: 91%;
  }
}
