@tailwind base;
@tailwind components;
@tailwind utilities;

b:root {
  --white-color: #ffffff;
  --primary-color: #bc6c25;
  --secondary-color: #dda15e;
  --section-bg-color: #b78752;
  --custom-btn-bg-color: #bc6c25;
  --custom-btn-bg-hover-color: #dda15e;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #e76f51;

  --body-font-family: "Plus Jakarta Sans", sans-serif;

  --h1-font-size: 68px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --btn-font-size: 16px;
  --form-btn-font-size: 18px;
  --menu-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}
